<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand p-2" class="nav-link active p-2">JWT Authentication</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse me-3 navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
      @if(!authenticate){
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" class="nav-link active"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" class="nav-link active"
          >Register</a
        >
      </li>
      } @if(authenticate){
      <li class="nav-item">
        <a routerLink="/login" class="nav-link w-100" (click)="logout()">
          Logout
        </a>
      </li>
      }
    </ul>
  </div>
</nav>
